In [28]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np


# import useful tools
from glob import glob
from PIL import Image

# import data visualization
import matplotlib.pyplot as plt
import matplotlib.patches as patches

from tqdm.auto import tqdm
import shutil as sh

# import data augmentation
import albumentations as albu

# Setup the paths to train and test images
train=pd.read_csv('dataset/train.csv')
test=pd.read_csv('dataset/test.csv')

Images='dataset/train/'
# Glob the directories and get the lists of train and test images
img = glob(Images + '*')

In [29]:
# !pip install ipywidgets

In [30]:
# Compute at the number of images:
print('Total Number of images is {}'.format(len(img)))

Total Number of images is 10233

In [31]:
print('Number of image in train data are {}'.format(train.shape[0]))
train.head()

Number of image in train data are 10233

    Name  HeadCount
0  1.jpg         11
1  2.jpg          6
2  4.jpg          5
3  5.jpg          9
4  6.jpg          6

In [32]:
# adding width and height in train of images
width, height = [], []
for image in img:
  width.append(Image.open(image).width)
  height.append(Image.open(image).height)
  # train_images["height"] = Image.open(Images+train_images["Name"]).height
print(len(width), len(height))
train["width"] = width
train["height"] = height
train.head()

10233 10233

    Name  HeadCount  width  height
0  1.jpg         11   1080     720
1  2.jpg          6   1080     720
2  4.jpg          5   1080     720
3  5.jpg          9    612     408
4  6.jpg          6    612     408

In [33]:
# whats in bbox.csv
bbox=pd.read_csv('dataset/bbox.csv')
bbox.head()

    Name  xmin  ymin  xmax  ymax class
0  1.jpg   805   264   917   371  head
1  1.jpg   558   338   584   374  head
2  1.jpg   487   341   515   368  head
3  1.jpg  1014   340  1056   383  head
4  1.jpg   432   364   438   371  head

In [34]:
# Merge all train images with the bounding boxes dataframe
train_images = train.merge(bbox, on='Name', how='left')

In [35]:
df=train_images
df.head()

    Name  HeadCount  width  height  xmin  ymin  xmax  ymax class
0  1.jpg         11   1080     720   805   264   917   371  head
1  1.jpg         11   1080     720   558   338   584   374  head
2  1.jpg         11   1080     720   487   341   515   368  head
3  1.jpg         11   1080     720  1014   340  1056   383  head
4  1.jpg         11   1080     720   432   364   438   371  head

In [36]:
df['x_center'] = df['xmin'] + df['width']/2
df['y_center'] = df['ymin'] + df['height']/2
df['classes'] = 0

df['image_id']=df['Name'].str.replace('.jpg','')

df = df[['image_id','xmin', 'ymin', 'width', 'height','x_center','y_center','classes']]

In [37]:
print(f"Shape of df is {df.shape}")
df.head()

Shape of df is (62529, 8)

  image_id  xmin  ymin  width  height  x_center  y_center  classes
0        1   805   264   1080     720    1345.0     624.0        0
1        1   558   338   1080     720    1098.0     698.0        0
2        1   487   341   1080     720    1027.0     701.0        0
3        1  1014   340   1080     720    1554.0     700.0        0
4        1   432   364   1080     720     972.0     724.0        0

In [38]:
# count
index = list(set(df.image_id))
len(index)

10233

In [39]:
from IPython.display import Image, clear_output

In [40]:
# import required dependencies
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from tqdm.auto import tqdm
import shutil as sh

import matplotlib.pyplot as plt

%matplotlib inline

In [41]:
# !git clone https://github.com/AIVenture0/yolov5.git

In [42]:
# # move all the files of YOLOv5 to current working directory
# !move yolov5/* ./

In [43]:
# !pip install -r requirements.txt

In [44]:
import os

In [45]:
# code to transform the dataset.

# ALREADY TRANSFORMED

# source = 'dataset'
# if True:
#     for fold in [0]:
#         val_index = index[len(index)*fold//5:len(index)*(fold+1)//5]
#         for name,mini in tqdm(df.groupby('image_id')):
#             if name in val_index:
#                 path2save = 'val2017/'
#             else:
#                 path2save = 'train2017/'
#             if not os.path.exists('convertor/fold{}/labels/'.format(fold)+path2save):
#                 os.makedirs('convertor/fold{}/labels/'.format(fold)+path2save)
#             with open('convertor/fold{}/labels/'.format(fold)+path2save+name+".txt", 'w+') as f:
#                 row = mini[['classes','x_center','y_center','width','height']].astype(float).values
#                 row = row/1024
#                 row = row.astype(str)
#                 for j in range(len(row)):
#                     text = ' '.join(row[j])
#                     f.write(text)
#                     f.write("\n")
#             if not os.path.exists('convertor/fold{}/images/{}'.format(fold,path2save)):
#                 os.makedirs('convertor/fold{}/images/{}'.format(fold,path2save))
#             sh.copy("C:/Users/prach/Desktop/Prachet/Hackathons/Vista Codefest24/{}/train/{}.jpg".format(source,name),'convertor/fold{}/images/{}/{}.jpg'.format(fold,path2save,name))

In [46]:
# !dir "./convertor/fold0/labels/train2017/2.txt"

In [47]:
# !pip install torch torchvision

In [52]:
!python ./train.py --img 640 --batch 16 --epochs 5 --data ./data/coco128.yaml --cfg ./models/yolov5x.yaml --name yolov5x_fold0_new

Apex recommended for faster mixed precision training: https://github.com/NVIDIA/apex
{'lr0': 0.01, 'momentum': 0.937, 'weight_decay': 0.0005, 'giou': 0.05, 'cls': 0.58, 'cls_pw': 1.0, 'obj': 1.0, 'obj_pw': 1.0, 'iou_t': 0.2, 'anchor_t': 4.0, 'fl_gamma': 0.0, 'hsv_h': 0.014, 'hsv_s': 0.68, 'hsv_v': 0.36, 'degrees': 0.0, 'translate': 0.0, 'scale': 0.5, 'shear': 0.0}
Namespace(epochs=5, batch_size=16, cfg='./models/yolov5x.yaml', data='./data/coco128.yaml', img_size=[640], rect=False, resume=False, nosave=False, notest=False, noautoanchor=False, evolve=False, bucket='', cache_images=False, weights='', name='yolov5x_fold0_new', device='', adam=False, multi_scale=False, single_cls=False)
Using CPU

Start Tensorboard with "tensorboard --logdir=runs", view at http://localhost:6006/

              from  n    params  module                                  arguments
  0             -1  1      8800  models.common.Focus                     [3, 80, 3]
  1             -1  1    115520  models.common.Conv                      [80, 160, 3, 2]
  2             -1  1    315680  models.common.BottleneckCSP             [160, 160, 4]
  3             -1  1    461440  models.common.Conv                      [160, 320, 3, 2]
  4             -1  1   3311680  models.common.BottleneckCSP             [320, 320, 12]
  5             -1  1   1844480  models.common.Conv                      [320, 640, 3, 2]
  6             -1  1  13228160  models.common.BottleneckCSP             [640, 640, 12]
  7             -1  1   7375360  models.common.Conv                      [640, 1280, 3, 2]
  8             -1  1   4099840  models.common.SPP                       [1280, 1280, [5, 9, 13]]
  9             -1  1  20087040  models.common.BottleneckCSP             [1280, 1280, 4, False]
 10             -1  1    820480  models.common.Conv                      [1280, 640, 1, 1]
 11             -1  1         0  torch.nn.modules.upsampling.Upsample    [None, 2, 'nearest']
 12        [-1, 6]  1         0  models.common.Concat                    [1]
 13             -1  1   5435520  models.common.BottleneckCSP             [1280, 640, 4, False]
 14             -1  1    205440  models.common.Conv                      [640, 320, 1, 1]
 15             -1  1         0  torch.nn.modules.upsampling.Upsample    [None, 2, 'nearest']
 16        [-1, 4]  1         0  models.common.Concat                    [1]
 17             -1  1   1360960  models.common.BottleneckCSP             [640, 320, 4, False]
 18             -1  1     81855  torch.nn.modules.conv.Conv2d            [320, 255, 1, 1]
 19             -2  1    922240  models.common.Conv                      [320, 320, 3, 2]
 20       [-1, 14]  1         0  models.common.Concat                    [1]
 21             -1  1   5025920  models.common.BottleneckCSP             [640, 640, 4, False]
 22             -1  1    163455  torch.nn.modules.conv.Conv2d            [640, 255, 1, 1]
 23             -2  1   3687680  models.common.Conv                      [640, 640, 3, 2]
 24       [-1, 10]  1         0  models.common.Concat                    [1]
 25             -1  1  20087040  models.common.BottleneckCSP             [1280, 1280, 4, False]
 26             -1  1    326655  torch.nn.modules.conv.Conv2d            [1280, 255, 1, 1]
 27   [-1, 22, 18]  1         0  models.yolo.Detect                      [80, [[116, 90, 156, 198, 373, 326], [30, 61, 62, 45, 59, 119], [10, 13, 16, 30, 33, 23]]]

2024-03-29 20:56:14.507596: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-03-29 20:56:16.728684: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
Traceback (most recent call last):
  File "C:\Users\prach\Desktop\Prachet\Hackathons\Vista Codefest24\train.py", line 404, in <module>
    train(hyp)
  File "C:\Users\prach\Desktop\Prachet\Hackathons\Vista Codefest24\train.py", line 80, in train
    model = Model(opt.cfg).to(device)
            ^^^^^^^^^^^^^^
  File "C:\Users\prach\Desktop\Prachet\Hackathons\Vista Codefest24\models\yolo.py", line 71, in __init__
    self._initialize_biases()  # only run once
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\prach\Desktop\Prachet\Hackathons\Vista Codefest24\models\yolo.py", line 122, in _initialize_biases
    b[:, 4] += math.log(8 / (640 / s) ** 2)  # obj (8 objects per 640 image)
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
RuntimeError: a view of a leaf Variable that requires grad is being used in an in-place operation.

In [ ]:
!python ./detect.py --weights ./weights/best_yolov5x_fold0_new.pt --img 640 --conf 0.2 --source ./dataset/test/ --save_txt True